In [73]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import sklearn.datasets
myfd = DataFrame()
myfd["Max Temperature(in C)"] = [32.4, 29.3, 29.9, 29.0, 29.5, 26.4, 28.3, 28.3, 31.2, 28.6, 27.4, 29.8, 34.4, 29.0, 28.3, 28.9, 28.8, 29.8, 27.9, 30.2, 26.9, 27.5, 27.4, 31.9, 27.8, 27.9, 28.6, 29.0, 29.4, 28.8, 29.0, 31.9, 26.1, 31.5, 28.9, 27.9, 28.8, 27.0, 30.4, 27.9,36.3, 33.4, 31.4, 36.5, 33.0, 30.9, 33.6, 32.2, 32.8, 30.5, 30.4, 31.4, 33.2, 34.0, 32.3, 32.5, 32.3, 32.9, 32.8, 34.2, 34.3, 31.3, 32.3, 32.5, 33.9, 32.4, 28.3, 33.5, 28.9, 31.4, 32.7, 33.3, 31.6, 32.8, 31.8, 32.4, 34.0,35.3, 34.5, 30.0,33.8, 35.5, 33.0, 35.4, 33.6, 36.0, 34.0, 32.2, 34.9, 36.8, 37.9, 34.5, 31.4, 34.1, 34.8, 36.6, 35.5, 31.8, 34.4, 35.6, 37.9, 31.3, 35.0, 33.5, 34.1, 30.6, 36.8, 36.2, 34.6, 31.5, 35.1, 35.4, 33.3, 37.6, 34.9, 34.3, 33.0, 32.1, 35.7, 33.0]
myfd["Avg Temperature(in C)"] = [11.6, 10.7, 10.5, 10.9, 10.2, 11.2, 11.5, 11.0, 10.4, 10.3, 9.9, 10.9, 10.3, 9.8, 10.2, 10.7, 10.8, 11.4, 10.9, 10.3, 10.2, 10.2, 10.3, 11.3, 10.8, 9.7, 11.0, 10.9, 10.0, 11.0, 10.2, 10.3, 10.2, 10.4, 10.9, 10.4, 9.0, 9.8, 10.5, 9.7,7.3, 5.1, 3.9, 4.5, 5.3, 6.3, 6.3, 4.4, 4.8, 4.9, 4.4, 4.5, 4.0, 4.5, 4.9, 5.4, 5.0, 4.9, 4.4, 3.9, 5.2,  3.7, 5.2, 4.7, 4.4, 1.8, 3.4, 4.5, 4.4, 5.1, 5.2, 4.7, 4.3, 5.9,7.0, 5.5, 4.2, 4.5, 4.6, 2.7,11.3, 9.9, 8.3, 9.2, 9.4, 10.2, 8.8, 7.7, 8.7, 10.6, 9.3, 9.7, 8.2, 8.4, 9.2, 9.9, 9.2, 8.4, 8.1, 9.6, 9.7, 8.4, 9.6, 10.3, 7.8, 7.3, 8.0, 7.5, 7.5, 7.2, 9.1, 8.9, 7.3, 8.1, 8.8, 7.8, 7.5, 7.6, 8.1, 7.1]
myfd["Min Temperature(in C)"] = [-6.8, -8.0, -8.8, -7.5, -8.4, -8.7, -5.4, -9.9, -10.0, -8.0, -8.1, -9.5, -6.5, -15.2, -9.2, -12.0, -9.8, -12.2, -5.5, -7.8, -4.8, -6.2, -3.1, -10.1, -9.0, -12.5, -7.3, -8.1, -14.1, -10.6, -9.1, -13.9, -11.2, -8.0, -4.4, -10.4, -14.3, -11.3, -13.2, -11.9,-30.8, -32.4, -31.2, -30.6, -31.3, -26.7, -25.3, -30.4, -30.1, -32.4, -29.9, -31.2, -32.4, -33.3, -26.1, -30.1, -35.0, -33.8,  -32.3, -33.1, -26.8, -30.9, -25.2, -35.8, -39.7, -38.2, -32.2, -32.5, -33.0, -35.0, -31.3, -34.4, -36.2, -30.6, -23.7, -37.5, -33.8, -36.2, -36.5, -35.6,-16.0, -20.6, -22.8, -23.5, -22.6, -26.3, -25.5, -24.2, -20.9,-16.5, -21.2, -19.0, -22.2, -18.2, -22.1, --14.5, -24.2, -24.3, -24.7, -16.5, -19.9, -22.0, -23.6, -17.4, -24.6, -22.2, -22.8, -31.0, -21.8, -22.1, -21.3, -19.5, -25.0, -23.7, -23.8, -21.9, -23.7, -26.8, -22.0, -26]
myfd["Class"] = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2]
myfd["Year"] = [2021, 2020, 2019, 2018, 2017, 2016, 2015 ,2014 ,2013 ,2012 ,2011 ,2010 ,2009 ,2008 ,2007 ,2006, 2005 ,2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982,2021, 2020, 2019, 2018, 2017, 2016, 2015 ,2014 ,2013 ,2012 ,2011 ,2010 ,2009 ,2008 ,2007 ,2006, 2005 ,2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982,2021, 2020, 2019, 2018, 2017, 2016, 2015 ,2014 ,2013 ,2012 ,2011 ,2010 ,2009 ,2008 ,2007 ,2006, 2005 ,2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982]
myfd.style.set_caption("Table 1: Annual Weather Statistics of Vancouver,Calgary and Toronto")
myfd

,Max Temperature(in C),Avg Temperature(in C),Min Temperature(in C),Class,Year
0,32.4,11.6,-6.8,0,2021
1,29.3,10.7,-8.0,0,2020
2,29.9,10.5,-8.8,0,2019
3,29.0,10.9,-7.5,0,2018
4,29.5,10.2,-8.4,0,2017
...,...,...,...,...,...
115,34.3,7.8,-21.9,2,1986
116,33.0,7.5,-23.7,2,1985
117,32.1,7.6,-26.8,2,1984
118,35.7,8.1,-22.0,2,1983
119,33.0,7.1,-26.0,2,1982

In [74]:
## Divide the Data Into Training and Test Set

In [75]:
dfX = myfd.drop (columns =['Class'])
sy = myfd.Class
sy

0      0
1      0
2      0
3      0
4      0
      ..
115    2
116    2
117    2
118    2
119    2
Name: Class, Length: 120, dtype: int64

In [76]:
from sklearn.model_selection import train_test_split
dfX_train, dfX_test, sy_train, sy_test = train_test_split(dfX,sy)
dfX_train, dfX_test, sy_train, sy_test

(     Max Temperature(in C)  Avg Temperature(in C)  Min Temperature(in C)  Year
 8                     31.2                   10.4                  -10.0  2013
 2                     29.9                   10.5                   -8.8  2019
 43                    36.5                    4.5                  -30.6  2018
 89                    36.8                   10.6                  -16.5  2012
 62                    32.3                    5.2                  -25.2  1999
 ..                     ...                    ...                    ...   ...
 82                    33.0                    8.3                  -22.8  2019
 101                   31.3                    8.4                  -22.0  2000
 6                     28.3                   11.5                   -5.4  2015
 18                    27.9                   10.9                   -5.5  2003
 93                    34.1                    8.4                  -18.2  2008

 [90 rows x 4 columns],
      Max Temperature(in C)  Avg Temperature(in C)  Min Temperature(in C)  Year
 78                    34.5                    4.6                  -36.5  1983
 72                    31.6                    4.3                  -36.2  1989
 4                     29.5                   10.2                   -8.4  2017
 12                    34.4                   10.3                   -6.5  2009
 38                    30.4                   10.5                  -13.2  1983
 34                    28.9                   10.9                   -4.4  1987
 16                    28.8                   10.8                   -9.8  2005
 115                   34.3                    7.8                  -21.9  1986
 110                   35.1                    9.1                  -21.3  1991
 5                     26.4                   11.2                   -8.7  2016
 102                   35.0                    9.6                  -23.6  1999
 74                    31.8                    7.0                  -23.7  1987
 48                    32.8                    4.8                  -30.1  2013
 81                    35.5                    9.9                  -20.6  2020
 47                    32.2                    4.4                  -30.4  2014
 80                    33.8                   11.3                  -16.0  2021
 29                    28.8                   11.0                  -10.6  1992
 116                   33.0                    7.5                  -23.7  1985
 90                    37.9                    9.3                  -21.2  2011
 92                    31.4                    8.2                  -22.2  2009
 11                    29.8                   10.9                   -9.5  2010
 113                   37.6                    8.1                  -23.7  1988
 24                    27.8                   10.8                   -9.0  1997
 26                    28.6                   11.0                   -7.3  1995
 41                    33.4                    5.1                  -32.4  2020
 21                    27.5                   10.2                   -6.2  2000
 94                    34.8                    9.2                  -22.1  2007
 54                    32.3                    4.9                  -26.1  2007
 75                    32.4                    5.5                  -37.5  1986
 56                    32.3                    5.0                  -35.0  2005,
 8      0
 2      0
 43     1
 89     2
 62     1
       ..
 82     2
 101    2
 6      0
 18     0
 93     2
 Name: Class, Length: 90, dtype: int64,
 78     1
 72     1
 4      0
 12     0
 38     0
 34     0
 16     0
 115    2
 110    2
 5      0
 102    2
 74     1
 48     1
 81     2
 47     1
 80     2
 29     0
 116    2
 90     2
 92     2
 11     0
 113    2
 24     0
 26     0
 41     1
 21     0
 94     2
 54     1
 75     1
 56     1
 Name: Class, dtype: int64)

In [77]:
### Preprocessing non-numerical classes with LabelEncoder()

In [78]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le

LabelEncoder()

In [79]:
le = le.fit(sy_train)
le.classes_

array([0, 1, 2])

In [80]:
y_train = le.transform(sy_train)
sy_train, y_train

(8      0
 2      0
 43     1
 89     2
 62     1
       ..
 82     2
 101    2
 6      0
 18     0
 93     2
 Name: Class, Length: 90, dtype: int64,
 array([0, 0, 1, 2, 1, 2, 2, 2, 0, 1, 2, 2, 1, 2, 2, 1, 0, 0, 1, 1, 1, 2,
        2, 2, 2, 1, 2, 1, 2, 2, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 2, 2,
        0, 2, 1, 1, 0, 0, 0, 0, 2, 1, 2, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
        1, 2, 2, 0, 0, 2, 1, 1, 1, 2, 1, 0, 2, 1, 0, 0, 1, 2, 2, 2, 2, 0,
        0, 2]))

In [81]:
### Preprocessing attributes with StandardScaler()

In [82]:
dfX_train.to_numpy()
n1 = preprocessing.StandardScaler()
n1 = n1.fit(dfX_train.to_numpy())

X_train = n1.transform (dfX_train.to_numpy())
X_train

array([[-0.28891723,  0.99731808,  1.07774325,  1.01089268],
       [-0.75261154,  1.03605723,  1.19248721,  1.54502384],
       [ 1.60152883, -1.28829219, -0.89202803,  1.45600198],
       [ 1.70853521,  1.07479639,  0.45621348,  0.92187082],
       [ 0.1034395 , -1.01711809, -0.37568022, -0.23541336],
       [ 0.70980899,  0.37749156, -0.40436621,  1.1889364 ],
       [ 1.49452245, -0.12611748, -0.93027601, -0.68052266],
       [ 1.63719762,  0.80362229,  3.42043239,  0.38773966],
       [-1.82267535,  0.91983976,  1.57496707, -0.05736964],
       [-0.21757964, -1.05585725, -1.31275587, -0.85856639],
       [ 1.03082813,  0.37749156, -0.24181227, -1.30367569],
       [ 0.53146502,  0.95857892,  0.37015551, -0.32443522],
       [-0.25324843, -1.59820545, -0.92071402, -0.1463915 ],
       [-0.18191085, -0.24233495, -0.07925833, -0.85856639],
       [ 0.03210191, -0.08737832, -0.52867216, -1.57074127],
       [-0.21757964, -1.52072713, -0.94940001,  1.54502384],
       [-0.64560516,  0.95857892,  1.28810717,  0.03165222],
       [-0.03923567,  1.34597049,  1.06818125, -0.32443522],
       [ 0.31745226, -1.13333556, -1.19801192,  0.20969594],
       [ 1.17350331, -1.28829219, -1.42749983, -1.57074127],
       [-0.53859878, -1.13333556, -1.06414397,  0.92187082],
       [ 0.56713382,  0.60992651, -0.12706831,  1.36698012],
       [ 1.24484089,  0.53244819, -0.28006025,  0.2987178 ],
       [ 0.92382175, -0.12611748, -0.05057234, -0.76954452],
       [ 0.88815296,  0.72614398,  0.21716356,  0.7438271 ],
       [-1.10929948, -1.32703135, -1.12151594, -0.76954452],
       [-0.50292999, -0.20359579, -0.08882032, -0.50247894],
       [ 0.42445864, -1.48198798, -1.06414397,  0.65480524],
       [ 0.74547778, -0.00990001, -0.31830824, -0.41345708],
       [ 1.70853521,  0.06757831, -0.1461923 , -0.5915008 ],
       [-1.78700656,  0.76488313,  0.95343729, -1.57074127],
       [-1.32331224,  0.91983976,  1.15423922,  0.47676152],
       [ 0.28178347, -0.74594399, -0.89202803, -1.21465383],
       [-1.64433138,  0.95857892,  1.73752101, -0.23541336],
       [-1.21630586,  0.95857892,  1.26898318,  0.92187082],
       [-0.39592361, -0.59098736, -0.51911017,  1.27795826],
       [-1.07363069,  1.19101386,  1.31679316,  1.45600198],
       [-1.32331224, -1.71442292, -1.04501997, -0.5915008 ],
       [-1.07363069,  0.91983976,  1.16380122, -0.94758825],
       [-1.46598741,  0.72614398,  0.83869334, -0.50247894],
       [ 0.17477709, -0.93963978, -0.84421805,  0.38773966],
       [ 0.78114658, -1.52072713, -1.13107794,  0.03165222],
       [ 1.2091721 ,  0.53244819, -0.21312628,  1.45600198],
       [ 0.46012744, -0.20359579, -0.35655622, -1.12563197],
       [-1.14496827,  0.45496988,  0.6665774 , -1.48171941],
       [ 0.06777071, -0.04863916, -0.28006025,  1.09991454],
       [ 1.53019124, -0.20359579, -0.91115202,  1.72306756],
       [ 0.13910829, -2.33424943, -1.61873976, -0.50247894],
       [-1.46598741,  0.99731808,  1.03949526, -1.39269755],
       [-1.07363069,  0.76488313,  0.58051943,  0.56578338],
       [-1.46598741,  0.72614398,  0.89606532, -1.74878499],
       [-1.32331224,  1.22975302,  1.08730525,  1.09991454],
       [ 1.03082813,  0.33875241,  0.03548563,  1.01089268],
       [ 0.28178347, -1.32703135, -1.05458197,  0.12067408],
       [ 0.35312106, -0.28107411, -0.45217619, -1.74878499],
       [ 0.53146502, -1.28829219, -1.07370596, -0.68052266],
       [-0.03923567,  0.95857892,  0.70482539, -1.03661011],
       [-0.9666243 ,  1.11353555,  1.26898318,  1.6340457 ],
       [-2.1080257 ,  0.91983976,  0.96299929, -1.12563197],
       [ 0.70980899, -1.40450966, -1.19801192, -1.48171941],
       [ 0.6741402 , -1.32703135, -1.76216971, -0.41345708],
       [-0.57426758, -1.32703135, -0.82509405,  0.83284896],
       [ 0.35312106, -0.97837893, -0.958962  ,  1.36698012],
       [-1.64433138,  0.80362229,  1.25942118,  0.83284896],
       [ 0.17477709, -1.21081388, -1.38925185, -0.32443522],
       [-0.78828034,  1.38470965,  0.86737933,  0.20969594],
       [-0.21757964, -1.28829219, -0.94940001,  0.7438271 ],
       [-0.07490447,  0.22253494, -0.28962225,  0.20969594],
       [ 1.28050969,  0.68740482,  0.45621348,  0.03165222],
       [-1.07363069,  1.19101386,  1.25942118, -0.68052266],
       [ 0.13910829,  1.46218796,  1.38372714,  1.72306756],
       [ 0.85248417,  0.10631746, -0.32787024,  0.12067408],
       [ 0.56713382, -0.59098736, -0.38524221,  1.1889364 ],
       [ 0.81681537, -1.01711809, -0.52867216, -0.05736964],
       [ 0.46012744, -1.21081388, -1.2553839 , -1.03661011],
       [ 1.31617848,  0.10631746, -0.06969633, -1.65976313],
       [ 0.24611468, -1.01711809, -0.958962  , -0.94758825],
       [-1.10929948,  1.11353555,  0.88650332,  0.38773966],
       [ 1.42318486,  0.91983976, -0.48086218,  1.27795826],
       [ 0.70980899, -1.28829219, -1.15020193,  0.56578338],
       [-0.18191085,  0.99731808,  1.26898318, -1.21465383],
       [-0.93095551,  0.84236145,  0.68570139, -0.76954452],
       [-0.71694275, -1.98559702, -1.37012785, -1.74878499],
       [ 1.2091721 ,  0.41623072,  0.16935358, -1.03661011],
       [ 2.10089194,  0.72614398,  0.1311056 , -0.05736964],
       [ 0.35312106,  0.18379578, -0.1461923 ,  1.54502384],
       [-0.25324843,  0.22253494, -0.06969633, -0.1463915 ],
       [-1.32331224,  1.42344881,  1.51759509,  1.1889364 ],
       [-1.46598741,  1.19101386,  1.50803309,  0.12067408],
       [ 0.74547778,  0.22253494,  0.29365954,  0.56578338]])

In [83]:
## Building the machine learning model for classification

In [84]:
X_train.shape

(90, 4)

In [85]:

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn = knn.fit(X_train,y_train)
knn

KNeighborsClassifier(n_neighbors=1)

In [86]:
## Evaluation of the model using test sets

In [87]:
### Preprocess the datasets dfX_test and sy_test

In [88]:
y_test = le.transform(sy_test.to_numpy())
sy_test, y_test

(78     1
 72     1
 4      0
 12     0
 38     0
 34     0
 16     0
 115    2
 110    2
 5      0
 102    2
 74     1
 48     1
 81     2
 47     1
 80     2
 29     0
 116    2
 90     2
 92     2
 11     0
 113    2
 24     0
 26     0
 41     1
 21     0
 94     2
 54     1
 75     1
 56     1
 Name: Class, dtype: int64,
 array([1, 1, 0, 0, 0, 0, 0, 2, 2, 0, 2, 1, 1, 2, 1, 2, 0, 2, 2, 2, 0, 2,
        0, 0, 1, 0, 2, 1, 1, 1]))

In [89]:
X_test = n1.transform(dfX_test.to_numpy())
dfX_test, X_test

(     Max Temperature(in C)  Avg Temperature(in C)  Min Temperature(in C)  Year
 78                    34.5                    4.6                  -36.5  1983
 72                    31.6                    4.3                  -36.2  1989
 4                     29.5                   10.2                   -8.4  2017
 12                    34.4                   10.3                   -6.5  2009
 38                    30.4                   10.5                  -13.2  1983
 34                    28.9                   10.9                   -4.4  1987
 16                    28.8                   10.8                   -9.8  2005
 115                   34.3                    7.8                  -21.9  1986
 110                   35.1                    9.1                  -21.3  1991
 5                     26.4                   11.2                   -8.7  2016
 102                   35.0                    9.6                  -23.6  1999
 74                    31.8                    7.0                  -23.7  1987
 48                    32.8                    4.8                  -30.1  2013
 81                    35.5                    9.9                  -20.6  2020
 47                    32.2                    4.4                  -30.4  2014
 80                    33.8                   11.3                  -16.0  2021
 29                    28.8                   11.0                  -10.6  1992
 116                   33.0                    7.5                  -23.7  1985
 90                    37.9                    9.3                  -21.2  2011
 92                    31.4                    8.2                  -22.2  2009
 11                    29.8                   10.9                   -9.5  2010
 113                   37.6                    8.1                  -23.7  1988
 24                    27.8                   10.8                   -9.0  1997
 26                    28.6                   11.0                   -7.3  1995
 41                    33.4                    5.1                  -32.4  2020
 21                    27.5                   10.2                   -6.2  2000
 94                    34.8                    9.2                  -22.1  2007
 54                    32.3                    4.9                  -26.1  2007
 75                    32.4                    5.5                  -37.5  1986
 56                    32.3                    5.0                  -35.0  2005,
 array([[ 0.88815296, -1.24955303, -1.45618582, -1.65976313],
        [-0.14624205, -1.3657705 , -1.42749983, -1.12563197],
        [-0.89528672,  0.91983976,  1.23073519,  1.36698012],
        [ 0.85248417,  0.95857892,  1.41241313,  0.65480524],
        [-0.57426758,  1.03605723,  0.77175936, -1.65976313],
        [-1.10929948,  1.19101386,  1.61321505, -1.30367569],
        [-1.14496827,  1.15227471,  1.09686724,  0.2987178 ],
        [ 0.81681537, -0.00990001, -0.06013433, -1.39269755],
        [ 1.10216572,  0.49370904, -0.00276235, -0.94758825],
        [-2.00101932,  1.30723133,  1.2020492 ,  1.27795826],
        [ 1.06649693,  0.68740482, -0.22268827, -0.23541336],
        [-0.07490447, -0.31981326, -0.23225027, -1.30367569],
        [ 0.28178347, -1.17207472, -0.84421805,  1.01089268],
        [ 1.24484089,  0.80362229,  0.06417162,  1.6340457 ],
        [ 0.06777071, -1.32703135, -0.87290404,  1.09991454],
        [ 0.6384714 ,  1.34597049,  0.50402346,  1.72306756],
        [-1.14496827,  1.22975302,  1.02037127, -0.85856639],
        [ 0.35312106, -0.12611748, -0.23225027, -1.48171941],
        [ 2.10089194,  0.57118735,  0.00679964,  0.83284896],
        [-0.21757964,  0.14505662, -0.08882032,  0.65480524],
        [-0.78828034,  1.19101386,  1.12555323,  0.7438271 ],
        [ 1.99388556,  0.10631746, -0.23225027, -1.21465383],
        [-1.50165621,  1.15227471,  1.17336321, -0.41345708],
        [-1.21630586,  1.22975302,  1.33591715, -0.5915008 ],
        [ 0.49579623, -1.05585725, -1.06414397,  1.6340457 ],
        [-1.60866259,  0.91983976,  1.44109912, -0.1463915 ],
        [ 0.99515934,  0.53244819, -0.07925833,  0.47676152],
        [ 0.1034395 , -1.13333556, -0.46173819,  0.47676152],
        [ 0.13910829, -0.90090062, -1.55180579, -1.39269755],
        [ 0.1034395 , -1.09459641, -1.31275587,  0.2987178 ]]))

In [90]:
### Apply the model to predict the class of X_test and compare with y_test

In [91]:
knn.predict(X_test)

array([1, 1, 0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 1, 2, 1, 0, 0, 2, 2, 2, 0, 2,
       0, 0, 1, 0, 2, 1, 1, 1])

In [92]:
y_test

array([1, 1, 0, 0, 0, 0, 0, 2, 2, 0, 2, 1, 1, 2, 1, 2, 0, 2, 2, 2, 0, 2,
       0, 0, 1, 0, 2, 1, 1, 1])

In [93]:
knn.score(X_test, y_test)

0.9

In [94]:
knn.score(X_train, y_train)

1.0

In [95]:
####CONFUSION MATRIX####

In [96]:
y_true = knn.predict(X_test)
y_pred = y_test
sklearn.metrics.confusion_matrix(y_true, y_pred)

array([[10,  0,  1],
       [ 0,  8,  0],
       [ 1,  1,  9]])

In [97]:
## Application of the model for prediction (classification of new example)

In [98]:
new_example_rawdata = np.array([ [14, 6, -5,1900] ])
X_new = n1.transform(new_example_rawdata)
X_new

array([[-6.42394972, -0.70720483,  1.55584307, -9.04857752]])

In [99]:
knn.predict(X_new)

array([0])